<a href="https://colab.research.google.com/github/Jinyong-20/Machine_Learning_Programming/blob/master/lesson4_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'fastai-v3/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
from fastai.tabular import *
from fastai import *

Tabular data should be in a Pandas `DataFrame`.

In [3]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample

\# tabular 데이터를 받고, read.csv로 데이터 프레임 생성

In [ ]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

\# 리스트를 생성하기 위한 cat_names(카테고리), conts_names(continuous value) - 숫자로 이루어짐
타뷸러 데이터는 transfrom(랜덤)이 아닌 process(한번)가 필요함 - 미싱 값을 찾기 위한 fillMissing과 카테고리변수를 찾을 categorift, normalize가 필요

In [5]:
doc(TabularList)

In [ ]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [ ]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

\# TabularList로 데이터 번치를 생성

In [8]:
data.show_batch(rows=10)

In [ ]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

\# 타뷸러 러너를 생성, 정확도 표시

In [10]:
learn.fit(1, 1e-2)

\# 학습 1회

## Inference

In [ ]:
row = df.iloc[0]

In [12]:
learn.predict(row)

(Category <50k, tensor(0), tensor([0.5527, 0.4473]))

Q. 기존의 이미지 데이터 번치의 학습과는 달리 Tabular 데이터로 학습한 결과는 어떻게 확인할 수 있나요?

*prediction 만들어서 prediction의 값을 원대이터형 (text이나 이미지)로 변환*